* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

canvas {
  border: 1px solid black;
}

.app {
  text-align: center;
}

.app h1 {
  margin: 20px 0;
}

.app button {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: grey;
  color: white;
  cursor: pointer;
}
